<div class="header__container">
	<div class="header__wrapper">
		<span class="header__logo">LOGO</span>
		<span class="header__searchbar-wrapper">
			<input type="text" class="header__searchbar">
			<button class="reset-btn-style">
				<img src="assets/images/search.png" alt="Search Icon" class="header__searchicon">
			</button>
		</span>
		<span class="header__icons">
			<button class="reset-btn-style">
				<img src="assets/images/wishlist.png" alt="Wishlist Icon" class="header__wishlist-icon">
			</button>
		</span>
		<span class="header__icons">
			<button class="reset-btn-style">
				<img src="assets/images/cart.png" alt="Cart Icon" class="header__cart-icon">
			</button>
		</span>
		<span class="header__icons">
			<button class="reset-btn-style">
				Log In
			</button>
		</span>
		<span class="header__icons">
			<button class="reset-btn-style">
				Sign Up
			</button>
		</span>
	</div>
</div>